<!-- <app-header></app-header> -->


<nav class="navbar navbar-expand-md fixed-top navbar-transparent" color-on-scroll="500">
	<div class="container">
		<div class="navbar-translate">
			<button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler"
			 aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
			</button>
			<a class="navbar-brand" href ng-click="ctrl.redirectBaseText()" >Wordcrush</a>
		</div>
		<div class="collapse navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto">
				<!-- <li class="nav-item">
					<a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim"
					 target="_blank">
						<i class="fa fa-facebook-square"></i>
						<p class="d-lg-none">Facebook</p>
					</a>
				</li> -->
				<li class="nav-item">
					<a ng-click="ctrl.redirectBaseText()" 
						ng-class="{'menu-destacado': ctrl.isStateBaseText()}" 
						class="nav-link">
						<i class="fa fa-cloud-upload"></i> Texto Base
					</a>
				</li>
				<li class="nav-item">
					<a ng-click="ctrl.redirectGameSettings()" 
						class="nav-link"
						ng-class="{'menu-destacado': ctrl.isStateGameSettings()}">
						<i class="fa fa-gears"></i> Configuração
					</a>
				</li>
				<li class="nav-item">
					<a ng-click="ctrl.redirectPlayGame()" 
						class="nav-link"
						ng-class="{'menu-destacado': ctrl.isStatePlayGame()}">
						<i class="fa fa-soccer-ball-o"></i> Jogar
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="wrapper">
	<div class="page-header section-dark" style="background-image:url({{ctrl.getBackgroundImageBrigadeiro()}}">
		<div class="filter"></div>
		<div class="content-center">
			<div class="container">
				<div class="title-brand">
					<h1 class="presentation-title">Wordcrush</h1>
					<div class="fog-low">
						<img ng-src="{{::ctrl.fogLow()}}" alt="">
					</div>
					<div class="fog-low right">
						<img ng-src="{{::ctrl.fogLow()}}" alt="">
					</div>
				</div>

				<h2 class="presentation-subtitle text-center">Wordcrush é um jogo! </h2>
			</div>
		</div>
		<div class="moving-clouds" style="background-image:url({{ctrl.getClouds()}}">

		</div>
	</div>
	<section class="appBaseSecured-section">
		<div ui-view="content"></div>
	</section>
</div>